@import "~bourbon/core/bourbon";

// Settings
$slider-track--color--default: #FFFFFF;
$slider-track--color--start: #B392BC;
$slider-track--color--middle: #9dadf1;
$slider-track--color--end: #6271e7;
$slider-track--radius: 10px;
$slider-track--height: 9px;
$slider-track--border-width: 0;
$slider-handle--size: 20px;
$slider-handle--dot--size: $slider-handle--size - 10px;

#range-score {
  width: 100%;
}

.range-value {
  background:transparent;
  border:0;
  color: white;
}

#range-articles {
  width: 100%;
}

%track--defaults {
  height: $slider-track--height;
  border: {
    radius: $slider-track--radius;
    width: $slider-track--border-width;
  }
}

// Slider widget
.ui-slider {
  * { outline: none; }
  @extend %track--defaults;

  background: linear-gradient(to right, $slider-track--color--start 0%, $slider-track--color--middle 50%, $slider-track--color--end 100%);

  .slider-range-inverse {
    @extend %track--defaults;
    background: $slider-track--color--default;
    position: absolute;
    right: 0;
  }

  .ui-slider-range {
    @extend %track--defaults;
    background: transparent;
  }

  .ui-slider-handle {
    width: $slider-handle--size;
    height: $slider-handle--size;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    background: #FFF;
    top: -($slider-handle--size - $slider-track--height) / 2;
    border: {
      radius: 50%;
      width: 0;
    }

    &:active { box-shadow: 0 3px 20px rgba(0,0,0,0.5); }

    .dot {
      width: $slider-handle--dot--size;
      height: $slider-handle--dot--size;
      border-radius: 50%;
      position: absolute;
      top: ($slider-handle--size - $slider-handle--dot--size) / 2;
      left: ($slider-handle--size - $slider-handle--dot--size) / 2;
      background: transparent;
      overflow: hidden;

      .handle-track {
        display: block;
        height: $slider-handle--dot--size;
        background: linear-gradient(to right, $slider-track--color--start 0%, $slider-track--color--middle 50%, $slider-track--color--end 100%);
        position: absolute;
        padding-right: $slider-handle--dot--size;
      }
    }
  }
}