$primary-background-color: #232840;
$second-color: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(248.81deg, #2F80ED 0.9%, #BB6BD9 100%), #009CDE;
$police-principal:  Montserrat;
$title-size: 36px;
$primary-color: white;
$taille-sous-titre:14px;
$couleur-sous-titre: rgba(31, 32, 65, 0.75);
$background-select: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$test:red;
$background-header: white;
//box topic
$color-topic-1:#00B7DF;
$color-topic-2:#7A0085;
$color-topic-3:#00DFD1;
$color-topic-4:#FF5151;
$color-topic-5:#E3B100;
$color-topic-6:#00850D;
$border-radius-title-topic: 22px;
$ombre-box-topic: 0px 7px 20px rgba(0, 0, 0, 0.25);
$radius-box-topic: 8px;
