<div id="description" class="description">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-5">
                <h2>
                    NOUVEAU TOOL POUR STORYTELLERS
                </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis mollis leo quis sagittis. Vivamus convallis nibh non ligula molestie fringilla.
                    Curabitur sit amet enim at nisl placerat pharetra. Aenean id scelerisque arcu.
                </p>
            </div>
        </div>
    </div>
</div>