<div id="description" class="row">
    <div class="col 12">
        <h1>
            NOUVEAU TOOL POUR STORYTELLERS
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis mollis leo quis sagittis. Vivamus convallis nibh non ligula molestie fringilla.
            Curabitur sit amet enim at nisl placerat pharetra. Aenean id scelerisque arcu.
        </p>
    </div>
</div>