<div id="description-topics" class="description">
    <div class="col 12">
        <h2>
            SELECTIONNEZ LES CATEGORIES DE VOTRE CHOIX
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis mollis leo quis sagittis. Vivamus convallis nibh non ligula molestie fringilla.
            Curabitur sit amet enim at nisl placerat pharetra. Aenean id scelerisque arcu.
        </p>
    </div>
</div>