{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('landing_index') }}
{% endblock %}

{% block title %}Data Vizualisation{% endblock %}

{% block body %}
    {% include "landing/sidebar.html.twig" %}

    <div class="container">
        <div id="content">
            <div class="row">
                <div class="col-md-4 offset-8">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="form-control-feedback fas fa-search"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="search" placeholder="Search a keyword">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-2 col-md-6 col-sm-12">
                    <div id="data-viz">
                    </div>
                </div>
                <div class="col 4">
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('landing_index') }}
{% endblock %}
