{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('landing_index') }}
{% endblock %}

{% block title %}Data Vizualisation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div id="data-viz">

            </div>
        </div>
        <div class="col 4">
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('landing_index') }}
{% endblock %}
