<div id="trending-new">
    <div class="sidebar-container">
        {% include "landing/sidebar.html.twig" %}
    </div>
    <div class="container">
        <div class="row">
            <h2></h2>
        </div>
        <div class="row">
            <div class="col-md-5 offset-2">
                <div id="data-viz"></div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
</div>