<div id="trending-news">
    <div class="sidebar-container">
        {% include "landing/sidebar.html.twig" %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 offset-1">
                <h3 id="title-trend-news">TRENDING NEWS</h3>
            </div>
            <div class="offset-3 col-md-2">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input id="search" type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 d-flex justify-content-center">
                <div id="container-viz">
                    <div id="data-viz"></div>
                </div>
            </div>
            <div class="col-md-4">
                {% include "landing/trending_news_right.html.twig" %}
            </div>
        </div>
    </div>
</div>