<div id="trending-news">
    <div class="sidebar-container">
        {% include "landing/sidebar.html.twig" %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <h2></h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="container-viz">
                    <div id="data-viz"></div>
                </div>
            </div>
            <div class="col-md-4">
                {% include "landing/trending_news_right.html.twig" %}
            </div>
        </div>
    </div>
</div>