<div id="trending-topics">
    <div>
        <h1>TRENDING TOPICS</h1>
    </div>
    <div id="container">
        <div class="row justify-content-around">
            <div class="col-3 trending-topic">
                <div class="label">
                    <span id="s">Sports</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
            <div class="col-3 trending-topic">
                <div class="label">
                    <span id="m">Santé</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
            <div class="col-3 trending-topic">
                <div class="label" >
                    <span id="w">International</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-3 trending-topic">
                <div class="label" >
                    <span id="t">Science/Tech</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
            <div class="col-3 trending-topic">
                <div class="label" >
                    <span id="b">Economie</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
            <div class="col-3 trending-topic">
                <div class="label" >
                    <span id="n">National</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <span id="copyright">Copyright © 2019 In’Pulse.</span>
            </div>
            <div class="col-3">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    </div>
</div>