<div id="container-right">
    <span class="title-tab"><b>TOP TRENDING NEWS</b></span>
    <table class="table table-fixed">
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <td class="col-xs-3">
                <div class="form-check">
                    <input id="checkAll" class="form-check-input" type="checkbox">
                    <label class="form-check-label" for="defaultCheck1">
                        Check all
                    </label>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
