<div id="trending-topics">
    <div>
        <h1>TRENDING TOPICS</h1>
    </div>
    <div id="container">
        <div class="row justify-content-around">
            <div class="col-3 trending-topic">
                <div class="label">
                    <span id="s">Sports</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
            <div class="col-3 trending-topic">
                <div class="label">
                    <span id="m">Santé</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
            <div class="col-3 trending-topic">
                <div class="label" >
                    <span id="w">International</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-3 trending-topic">
                <div class="label" >
                    <span id="t">Science/Tech</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
            <div class="col-3 trending-topic">
                <div class="label" >
                    <span id="b">Economie</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
            <div class="col-3 trending-topic">
                <div class="label" >
                    <span id="n">National</span>
                </div>
                <div>
                </div>
                <div id="img-div">
                </div>
            </div>
        </div>
        <div class="row justify-content-around" id ="footer">
            <div class="col-12">
                <span>Logo</span>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.</p>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-instagram"></i>
            </div>
        </div>
        <span id="copyright">Copyright © 2019 In’Pulse.</span>
    </div>
</div>